work_files/GoGrabIt.psd1
work_files/GoGrabIt.psm1
work_files/Apps/7-Zip.json
work_files/Private/Dowload-File.ps1
work_files/Private/Get-Apps.ps1
work_files/Private/Request-GitData.ps1
work_files/Private/Write-Log.ps1
work_files/Public/New-7Zip.ps1
work_files/Template/InstallTemplate.ps1
